{
    "webdriver_url": "!!!YOUR_WEBDRIVER_URL!!!",
    "feature_dirs": [!!!OPTIONAL_ARRAY_OF_FEATURE_DIRS!!!],
    "step_dirs": [!!!OPTIONAL_ARRAY_OF_DIRECTORIES_CONTAINING_STEP_DEFINITIONS!!!],
    "tags": "!!!OPTIONAL_COMMA_DELIMITTED_LIST_OF_TAGS!!!",
    "show_skipped": !!!OPTIONAL_BOOLEAN!!!,
    "app_urls": {
        "!!!YOUR_APK_ALIAS!!!": "!!!YOUR_APK_URL!!!"
    }
}

